/* layout.css Style */

#spacingNavLinks {
  margin-right: 90px;
}
#account {
  font-size: 1.8em;
}
#caretDown {
  font-size: 1.8em;
}
#brand{
  margin-top: 5px;
}
.NavLinksActions {
  text-decoration: none !important;
}
#iconsInMenu {
  margin-right: 6px;
}

.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

.dropzone {
  min-height: 150px;
  text-align: center;
  border: dashed grey 3px;
  border-radius: 5px
}
